body {
    font-family: Arial, sans-serif;
    padding: 100px;
    background-color: #f0f0f0;
}

.NavBar {
    display: flex;
    font-size: 24px;
    font-family: Open Sans,sans-serif;
    gap: 16px;
    height: 50px;
    justify-content: space-between;
    padding: 0 16px;
    position: relative;
    width: 100%;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: flex;
}

.OMGSale {
    border-radius: 30px;
    padding: 100px;
    width: 300px;
    margin: 10px;
    text-align: left;
}

.OMGSale img {
    height: 350px;
    width: 400px;
}

.PokemonDay {
    display: flex;
    border-radius: 30px;
    padding: 100px;
    width: 300px;
    margin: 10px;
}

.PokemonDay img {
    height: 350px;
    width: 400px;
}

.ShopTopConsoles {
    border-radius: 30px;
    padding: 100px;
    width: 300px;
    margin: 10px;
}

.ShopTopConsoles img {
    height: 350px;
    width: 400px;
}

.BrowseByCategory {
    border-radius: 30px;
    padding: 100px;
    width: 300px;
    margin: 10px;
}

.BrowseByCategory img {
    height: 350px;
    width: 400px;
}

.TopBrands {
    border-radius: 30px;
    padding: 100px;
    width: 300px;
    margin: 10px;
}

.TopBrands img {
    height: 350px;
    width: 400px;
}

.Collectibles{
    border-radius: 30px;
    padding: 100px;
    width: 300px;
    margin: 10px;
}

.Collectibles img {
    height: 350px;
    width: 400px;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Xbox {
    border: 10px solid #ddd;
    border-radius: 30px;
    padding: 100px;
    width: 300px;
    margin: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 

.XboxImage{
    height: 350px;
    width: 400px;
}

.Playstation {
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 100px;
    width: 300px;
    margin: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.PS5Image{
    height: 350px;
    width: 550px;
}

.Nintendo Switch {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.product button {
    background-color: #333;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

